LR"====(

kxf\:TextBox
{
	behavior: kxf.TextBox;
	style-set: kxf-TextBox;
}

@set kxf-TextBox
{
	:root
	{
		display: block;
	}

		:root > EditArea
		{
			flow: text;
			white-space: pre;
			behavior: edit;
			display: inherit;
			background: transparent;
			padding-top: 0.5em;
			border-bottom: 1dip solid;
			border-bottom-color: ThreeDShadow;
			width: *;
			foreground: url(stock:block) center bottom no-repeat;
			foreground-size: 0% 2dip;
			foreground-clip: border-box;
			fill: Highlight;
			transition: foreground-size quad-out 150ms;
			cursor: text;
			line-height: 1.5em;
		}

			:root > EditArea::marker
			{
				margin-top: 0.5em;
				line-height: 1.5em;
				width: *;
				transform-origin: 0% 0%;
				color: WindowText;
				content: attr(Label);
				transition: transform quad-out 160ms;
			}

			:root > EditArea:owns-focus::marker,
			:root > EditArea:not(:empty)::marker
			{
				transform: translate(0,-80%) scale(0.9);
				opacity: 0.75;
			}

			:root > EditArea:owns-focus
			{
				foreground-size: 100% 2dip;
			}

			:root > EditArea:not(:owns-focus)
			{
				foreground-size: 0;
			}
}

)===="
