LR"====(

kxf\:TextBox
{
	behavior: kxf.TextBox;
	style-set: kxf-TextBox;
}

@set kxf-TextBox
{
	:root
	{
		display: block;
		width: *;
		padding-top: 0.5em;
		border-bottom: 1dip solid;
		border-bottom-color: ThreeDShadow;
	}

		:root > LabelArea
		{
			display: inherit;
			width: *;
			transform-origin: 0% 0%;
			transition: transform quad-out 150ms;
			color: WindowText;
			transform: translate(0, 1.5em);
		}

		:root > EditArea
		{
			flow: text;
			white-space: pre;
			behavior: edit;
			display: inherit;
			width: *;
			background: transparent;
			foreground: url(stock:block) center bottom no-repeat;
			foreground-size: 0% 2dip;
			foreground-clip: border-box;
			fill: Highlight;
			transition: foreground-size quad-out 200ms;
			cursor: text;
			line-height: 1.5em;
		}

			:root > EditArea:owns-focus
			{
				foreground-size: 100% 2dip;
			}

			:root > EditArea:not(:owns-focus)
			{
				foreground-size: 0;
			}
}

)===="
